<div class="space-y-4">
    <input
      type="text"
      placeholder="Search by username"
      class="w-full px-3 py-2 border border-gray-300 rounded"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
  
    <div class="flex space-x-4">
      <button
        class="px-4 py-2 bg-blue-500 text-white hover:bg-blue-600"
        (click)="onAddNew()"
      >
        Add New
      </button>
      <select
    class="w-full px-3 py-2 border border-gray-300 rounded"
    [(ngModel)]="filterTerm"
    (change)="onFilter()"
  >
    <option value="">Filter by workout type</option>
    <option value="Running">Running</option>
    <option value="Cycling">Cycling</option>
    <option value="Swimming">Swimming</option>
  </select>
    </div>
  </div>

  <ng-template #addUserDialog>
    <app-add-user-dialog (userAdded)="onUserAdded($event)"></app-add-user-dialog>
  </ng-template>
  